.wrapper
  = render "groups/side_bar"



  .chat
    .header
      .left-header
        .left-header_title
          %h2.group #{@group.name}
          %p.user
            member：
            -@group.users.each do |user|
              #{user.name},
      .right-header
        = link_to "Edit", edit_group_path(@group), method: :get, class: 'edit-btn'
    .content
      = render @messages



    .footer
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: 'form__message', placeholder: 'type a message'
          %label.form__mask
            %i.fa.fa-picture-o
            = f.file_field :image,class: 'hidden', style: "display: none;"
          = f.submit 'Send', class: 'form__submit'
